.config/*
!.config
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/dunst/
!.config/dunst/*
!.config/picom.conf
!.config/rofi/
!.config/rofi/*
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/i3
!.config/i3/*
!.config/i3blocks/
!.config/i3blocks/config
!.config/wallpaper
!.config/wallpaper/*



